h1{
  margin: 80px auto 15px auto;
  max-width: 90%;
  /* margin-bottom: 15px;
  margin-left: 110px; */
}

.a-propos img {
    width: 400px;
    height: auto;
    box-shadow: 5px 5px 5px #242424;
}

.a-propos{
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: flex-start;
}

.a-propos div{
  padding-left: 80px;
}

@media screen and (max-width: 996px) {
  .a-propos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .a-propos img {
    margin-bottom: 80px;
  }
}